@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin center_sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}