@mixin textLargeExtra {
    font-family: $Helvetica;
    font-size: $fs76;
    line-height: $lh76;
}

@mixin textLarge {
    font-family: $Helvetica;
    font-size: $fs70;
    line-height: $lh70;
}

@mixin textNormal_lh32 {
    font-family: $Helvetica;
    font-size: $fs32;
    line-height: $lh32;
}

@mixin textNormal_lh48 {
    font-family: $Helvetica;
    font-size: $fs32;
    line-height: $lh48;
    letter-spacing: 0.04em;
}

@mixin textSmall_lh20 {
    font-family: $Helvetica;
    font-size: $fs24;
    line-height: $lh20;
}

@mixin textSmall_lh24 {
    font-family: $Helvetica;
    font-size: $fs24;
    line-height: $lh24;
}

@mixin textSmall_lh36 {
    font-family: $Helvetica;
    font-size: $fs24;
    line-height: $lh36;
}

//
//
//
.width-content {
    max-width: 2500px;
    width: 100vw;
}

.page {
    width: $vw100;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 190px 0 190px;
    @include center;
}

@media screen and (max-width: 2879px) {
    .width-content {
        max-width: 1250px;
    }
    .page {
        padding: 0 95px 0 95px;
    }
}

@media screen and (max-width: 1439px) {
    .width-content {
        max-width: 1020px;
    }
    .page {
        padding: 0 60px 0 60px;
    }
}

@media screen and (max-width: 1139px) {
    .width-content {
        max-width: 738px;
    }
    .page {
        padding: 0 15px 0 15px;
    }
}