$vw100: 100%;
/// colors
$blackLight: #000f08;
$grey: #8c8c8c;
$black: #000000;
$white: #fff;
/// font-family
$Helvetica: HelveticaNeueLTStd-Lt;
/// font-size
$fs76: 7.6rem;
$fs70: 7rem;
$fs32: 3.2rem;
$fs24: 2.4rem;
/// line-height
$lh76: 7.6rem;
$lh70: 7rem;
$lh48: 4.8rem;
$lh36: 3.6rem;
$lh32: 3.2rem;
$lh24: 2.4rem;
$lh20: 2rem;