/// colors
$blackLight: #000f08;
$grey: #8c8c8c;
$black: #000000;
$white: #fff;
/// font-family
$Helvetica: Helvetica Neue LT Std;
$DINPro: "DINPro";
/// font-size
$fs76: 76px;
$fs70: 70px;
$fs32: 32px;
$fs24: 24px;
/// line-height
$lh76: 76px;
$lh70: 70px;
$lh48: 48px;
$lh36: 36px;
$lh32: 32px;
$lh24: 24px;
$lh20: 20px;